@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// This mixin is from an article written by Glenn McComb - https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;
@mixin respond-below($bp) {
    @media (min-width: $bp) {
        @content;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(28,116,214);
    background: linear-gradient(103deg, rgba(28,116,214,1) 0%,
     rgba(24,104,193,1) 15%, rgba(16,136,129,1) 40%,
      rgba(16,136,129,1) 60%, rgba(24,104,193,1) 85%,
       rgba(28,116,214,1) 100%);
    background-size: 300% 300%;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: white;
    animation: gradient 20s ease-in-out infinite;
    height: 300vh;
}

#top-mainfull{
    margin-top: 5rem;
}
@include respond-below($sm){
    #top-mainfull{
        margin-top: -4rem;
    }
}

#top-centerbox{
    height: 40rem; 
    overflow: hidden;
}
@include respond-below($sm){
    #top-centerbox{
        height: 20rem;
    }
}

#top-centerbox-name{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem; 
    letter-spacing: 0.6rem;
    text-align: center;
}
#top-centerbox-desc{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    text-align: center;
    color: #dcdcdc
}

#top-centerbox-image{
    width: 18.5rem;
    height: 18.5rem;
    border: 2px solid #474747;
}
@include respond-below($sm){
    #top-centerbox-image{
        border: 6px solid #474747;
    }
}

#top-langselect{
    display: block;
    position: fixed;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.3rem;
}

#top-menu{
    display: block;
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    font-size: 2.2rem;
}

#top-more-parent{
    margin-top: -8rem;
}
@include respond-below($sm){
    #top-more-parent{
        margin-top: -4rem;
    }
}
#top-more{
    height: 7rem;
    width: 5rem;
    font-size: 1.3rem;
    //font-weight: 600;
}

#middle-mainfull, #bottom-mainfull{
    margin-top: -1rem;
}

.cropcircle {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.cropcircle img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.h-100vh{
    height: 100vh;
}

a, a:link, a:hover, a:focus {
    color: white !important;
    text-decoration: none;
}
#top-menu a{
    padding-left: 0;
    transition: padding-left .2s ease-out;
}
#top-menu a:hover{
    padding-left: 1.5rem;
    transition: padding-left .2s ease-out;
}
a:hover {
    color: rgb(128, 128, 128);
}

@keyframes gradient {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.testborder{
    border: 1px solid white;
}

@include respond-below($sm) { .hideit-sm{display: none;} }
@include respond-below($md) { .hideit-md{display: none;} }
@include respond-below($lg) { .hideit-lg{display: none;} }
@include respond-below($xl) { .hideit-xl{display: none;} }